/* CSS Reset, default styling, and custom properties */
:root {
  --clr-bg-dark: #1f2937; /* Hero and footer */
  --clr-white-primary: #f9faf8; /* Hero main text and logo text */
  --clr-white-secondary: #e5e7eb; /* Hero secondary text and link text */
  --clr-button: #3882f6; /* Button color and call to action bg color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

/* Begin styling */
header {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  padding-inline: 190px;
  background-color: var(--clr-bg-dark);
  align-items: center;
}

.title {
  font-size: 24px;
  color: var(--clr-white-primary);
  font-weight: 900;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}

header a {
  text-decoration: none;
  color: var(--clr-white-secondary);
}

main {
  display: flex;
  background-color: var(--clr-bg-dark);
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-basis: 500px;
}

.message h1 {
  color: var(--clr-white-primary);
  font-size: 48px;
  font-weight: 900;
}

.message p {
  color: var(--clr-white-secondary);
  font-size: 18px;
}

.button {
  background-color: var(--clr-button);
  font-weight: bold;
  padding: 5px 30px;
  color: var(--clr-white-primary);
  border-radius: 5px;
  cursor: pointer;
}

main img {
  border-radius: 10px;
}
