/* CSS Reset, default styling, and custom properties */
:root {
  --clr-bg-dark: #1f2937; /* Hero and footer */
  --clr-white-primary: #f9faf8; /* Hero main text and logo text */
  --clr-white-secondary: #e5e7eb; /* Hero secondary text and link text */
  --clr-dark: #1f2937;
  --clr-button: #3882f6; /* Button color and call to action bg color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

/* Begin styling */
header {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  padding-inline: 180px;
  background-color: var(--clr-bg-dark);
  align-items: center;
}

.title {
  font-size: 24px;
  color: var(--clr-white-primary);
  font-weight: 900;
  cursor: pointer;
}

.title:hover,
.title:focus {
  text-decoration: underline;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 15px;
}

header a {
  color: var(--clr-white-secondary);
  text-underline-offset: 5px;
}

header a:hover,
header a:focus {
  text-decoration: none;
}

main {
  display: flex;
  background-color: var(--clr-bg-dark);
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
}

main .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-basis: 500px;
}

main .message h1 {
  color: var(--clr-white-primary);
  font-size: 48px;
  font-weight: 900;
}

main .message p {
  color: var(--clr-white-secondary);
  font-size: 18px;
}

.button {
  background-color: var(--clr-button);
  font-weight: bold;
  padding: 5px 30px;
  color: var(--clr-white-primary);
  border-radius: 5px;
  cursor: pointer;
}

main img {
  border-radius: 10px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 40px;
}

.information h2 {
  font-size: 36px;
  color: var(--clr-bg-dark);
  font-weight: 900;
}

.card-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.card-container img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card p {
  width: 350px;
  font-size: 18px;
}

.quote {
  background: var(--clr-white-secondary);
  padding: 80px 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: var(--clr-dark);
  width: 870px;
}

.quote .author {
  color: var(--clr-bg-dark);
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
}

.cta {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-container {
  background-color: var(--clr-button);
  color: white;
  padding: 30px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  flex-basis: 800px;
}

.signup-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px;
}

.signup-button:hover,
.signup-button:focus {
  cursor: pointer;
  background-color: white;
  color: var(--clr-button);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-dark);
  padding: 40px;
}

footer .message {
  text-align: center;
  color: white;
}
